* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px;

  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  padding: 30px;
}

.form {
  width: 400px;
  margin: 30px auto;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
}

.form button {
  padding: 10px;
  cursor: pointer;
}

.grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(250px, 1fr)
    );

  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat-card {
  padding: 20px;
  border: 1px solid #ddd;
  width: 250px;
}